{% extends 'parent.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css')}}">
{% endblock %}
{% block body %}
{% block main %}


<h2 class="text-center">Formulaire</h2>

{{ form_start(form, {'method': 'POST'}) }}



<p  style="visibility:hidden;" >

    {{ form_widget(form.user, {'attr': {'readonly': 'readonly'}})   }}
</p>
<p>
    {{ form_label(form.exerciceName, "Nom de l'exercice : ") }}
    {{ form_widget(form.exerciceName, { attr : { placeholder: "Nom de l'exercice : ", autofocus : 'autofocus'}}) }}
    {{ form_errors(form.exerciceName) }}

</p>
<p>
{{ form_label(form.date, 'Date : ') }}
{{ form_widget(form.date, { attr : { placeholder: 'Date'}}) }}
{{ form_errors(form.date) }}

</p>
<p>
{{ form_label(form.repetitionNb, 'Nombre de repetition : ') }}
{{ form_widget(form.repetitionNb) }}
{{ form_errors(form.repetitionNb) }}

</p>
<p>
{{ form_label(form.serie, 'Nombre de serie : ') }}
{{ form_widget(form.serie) }}
{{ form_errors(form.serie) }}

</p>

<p>
    {{ form_label(form.weight, 'Poids : ') }}
    {{ form_widget(form.weight) }}
    {{ form_errors(form.weight) }}

    </p>

<p>
    <input type="submit" />
</p>

{{ form_end(form) }}


{% endblock%}
{% endblock %}


