{% extends 'parent.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css')}}">
{% endblock %}

{% block body %}
    {% block main %}
        <div class="container">
            <h2 class="text-center">Créer votre programme</h2>

            {% if exercices_list %}
                {{ form_start(form, {'method': 'POST'}) }}

                {% for exercice in app.user.exercices %}

                {% endfor %}

                <div class="form-group">
                    <label for="exercice">Choisir un exercice</label>
                    <select name="exercice" id="exerciceChoice" class="form-control">
                        <option value="">Sélectionner un exercice</option>
                        {% for exercice in app.user.exercices %}
                            <option value="{{exercice.name}}">{{exercice.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    {{ form_label(form.exerciceName, 'Nom de l\'exercice :') }}
                    {{ form_widget(form.exerciceName, {'attr': {'class': 'form-control', 'id': 'exerciceName'}}) }}
                    {{ form_errors(form.exerciceName) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.date, 'Date : ') }}
                    {{ form_widget(form.date, { 'attr' : { 'class': 'form-control', 'placeholder': 'Date'}}) }}
                    {{ form_errors(form.date) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.repetitionNb, 'Nombre de répétitions : ') }}
                    {{ form_widget(form.repetitionNb, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.repetitionNb) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.serie, 'Nombre de séries : ') }}
                    {{ form_widget(form.serie, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.serie) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.weight, 'Poids : ') }}
                    {{ form_widget(form.weight, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.weight) }}
                </div>

                <button type="submit" class="btn btn-primary">Enregistrer</button>

                {{ form_end(form) }}
            {% else %}
                <p class="text-danger">Veuillez d'abord <a href="{{ path('exercice_create') }}">créer un exercice</a>.</p>
            {% endif %}
        </div>

        {% block script %}
            <script src="{{ asset('js/jquery.min.js')}}"></script>
            <script>
                $(document).ready(function() {
                    $('#exerciceChoice').change(function() {
                        $('#exercice_done_exerciceName').val($(this).val());
                    });
                });
            </script>
        {% endblock %}
    {% endblock %}
{% endblock %}
